/* google font */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
/* google font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}
ol,
ul {
  list-style-type: none;
}
.banner-slider {
  height: 60vh;
}
.overlay-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}
